h1 {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    text-align: center;
}

img {
    border: 1px solid black;
    padding: 10px;
    vertical-align: middle;
}

/* The images will blur at the beginning so a transition to the sharp one */
img[data-src] {
    filter: blur(0.2em);
  }
  
img {
    filter: blur(0em);
    transition: filter 0.5s;
}