html {
    font-family: ubuntu;
}

h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    letter-spacing: 1px;
    box-shadow: 0 0 10px grey;
    margin: 0 auto;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

tr:first-child th, .highlight {
    background-color: #4472C4;
    color: white;
}

th, td {
    border: 1px solid black;
    padding: 10px 20px;
}

th {
    background-color: #90b0e8;
    color: black;
}

td {
    text-align: center;
}

tbody tr:nth-child(even) {
	background-color: lightgray;
}