/* ---------- apply to entire page ---------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ---------- header ---------- */

header, main, footer {
    max-width: 960px;
    margin: 10px auto;
}

header {
    padding: 15px;
    background-color: #111;
    color: white;
    display: grid;
    grid-template-columns: 60% 20% 20%;
}

.logo {
    display: flex;
}

h1 {
    margin: 0;
}

header .heading p {
    font-size: x-small;
}

.socialIcon {
    display: flex;
    align-self: center;
    justify-self: center;
    min-width: 30px;
    max-width: 30px;
    grid-column: 2 / 3;
    grid-row: 1;
}

.facebookLogo, .linkedinLogo {
    min-width: 30px;
    max-width: 30px;
}

.heading {
    align-self: center;
    margin: 10px;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* ---------- navigation ---------- */
/* .2rem to move it down for top & bottom */
/* 2vw is to remove away from the edge of the page */
/* 2vw unit means the "viewport width". That way the size will follow the size of the browser window. */
#hamburgerBtn {
    margin: 0px;
    background: transparent;
    border: none; 
    font-size: 32px; 
    display: block; /* when open the menu item it will display as block */
    background-color: white;
    width:40px;
    height: 40px;
    align-self: center;
    justify-self: end;
}

nav {
    grid-row: 2;
    grid-column: 1 / 4;
}

nav ul {
    list-style-type: none;
}

/* style menu item */
nav ul li a {
    display: block; /* to make the entire width clickable */
    padding: 15px 2vw; /* make the clickable area bigger. 2vw is to align all the items to the left */
    text-decoration: none; /* remove underline */
    color: white; /* change the text color */
}

nav ul li a:hover {
    background-color: #4D4D4D;
    color: white;
}

/* by default menu item in small screen should be hidden */
nav ul li {
    display: none;
}

nav ul.open li {
    display: block;
}

/* when the menu is open, and the screen is wider, it still stack until refresh browser which is not right. */
/* so please go to medium screen, select the nav ul and add #navigation next to it then it will work properly. */
/* this is because when css assign to an id is more powerful than css assign to a class. */
/* That's why we add id to medium css and to overrule the small screen class. */

/* ---------- Responsive Navigation - Enhancing with a Close X ----------*/
/* by default the hamburger which is the first span child to display as a bloack */
#hamburgerBtn span:nth-child(1) {
    display: block;
}

/* the second span child which is X to be hidden */
#hamburgerBtn span:nth-child(2) {
    display: none;
}

/* when the hamburger with the class is open, the first span child the hamburger to be hidden */
#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

/* the second span child the X to display as a block */
#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

div.date {
    text-align: center;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #eee;
    max-width: 960px;
    width: 100%;
    color: black;
    grid-column: 1 / 4;
    margin-top: 15px;
}

div.reminder {
    grid-column: 1 / 4;
    text-align: center;
    align-self: center;
    padding-top: 12px;
}

/* change the default italic font style to normal */
em {
    font-style: normal;
}

/* ---------- picture ---------- */
header div img {
    width: 70px;
    height: auto;
    border-radius: 10px;
}

/* ---------- body ---------- */
body {
    margin: 0 10px 0 10px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

/* ---------- main ---------- */
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

main div {
    flex: 1;
    background-color: #eee;
}

main div img {
    width: 100%;
    height: auto;
}

main div .label {
    color: maroon;
    font-weight: bold;
    padding: 15px;
}

/* ---------- hero box ---------- */
.heroBox {
    position: relative;
}

.heroBox p {
    font-weight: bold;
}

.welcome {
    position: absolute;
    top: 30%;
    left: 17%;
    color: black;
    background-color: white;
    padding: 10px;
}

.join {
    position: absolute;
    top: 41%;
    left: 28%;
    background-color: black;
    color: white;
	padding: 15px 20px;
    border-radius: 5px;
}

/* ---------- event ---------- */
.eventBox {
    padding: 15px;
}

.eventBox p {
    margin-top: 10px;
}

/* ---------- weather box ---------- */
div.weatherBox {
    padding: 15px;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
}

div.weatherBox h2 {
    grid-column: 1 / 3;
    text-align: left;
}

div.weatherBox p {
    font-size: 30px;
}

img.weather-icon {
    width: 30%;
}

hr {
    grid-column: 1 / 3;
    margin: 10px;
}

figure {
    grid-column: 1 /3;
}

/* ---------- news box---------- */
.newsBox p {
    padding:  0 15px 15px;
}

/* ---------- join us box ---------- */
.joinUsBox {
    display: none;
    padding: 15px;
}

.joinUs {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

.joinUsBox p {
    padding-top: 15px;
}

/* ---------- spotlight 1 ---------- */
.spotlight1 p {
    padding: 0 15px 15px;
}

/* ---------- spotlight 2 ---------- */
.spotlight2 p {
    padding: 0 15px 15px;
}

/* ---------- spotlight 3 ---------- */
.spotlight3 {
    display: none;
}

/* ---------- footer ---------- */
footer, footer a {
    background-color: #111;
    color: white;
}

.part1 {
    display: grid;
    gap: 10px;
    text-align: center;
    justify-items: center;
    padding: 15px;
}

footer div img {
    width: 70px;
    height: auto;
    /* border-radius: 10px; */
}

.copyright {
    text-align: center;
    padding: 15px;
    border-top: 0.5px solid white;
}

/* ---------- discover page ---------- */
.discover {
    background-color: #eee;
    padding: 10px;
    gap: 20px 0px;
}

/* The images will blur at the beginning so a transition to the sharp one */
.zoom img[data-src] {
    filter: blur(0.2em);
}

.zoom img {
    filter: blur(0em);
    transition: filter 3s;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 15px grey;
}

.discover h2 {
    padding-bottom: 10px;
}

.discover hr {
    margin: 0;
}

.visit {
    text-align: center;
}

article {
    grid-column: 1 / 3;
}

/* ---------- form ---------- */
form fieldset {
    margin: 2rem 0;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 5px;
}

form legend {
    color: blue;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
}

form label.top input {
    display: block;
    border: 1px solid grey;
    border-radius: 5px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: #eee;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

textarea {
    width: 100%;
}

form input.submitBtn {
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: .75rem 1.5rem;
    margin: 0 auto 2rem auto;
    width: 100%;
    max-width: 20rem;
}

.thanks-page {
    grid-column: 1 / 2;
    padding: 50px;
    background-color: #eee;
    text-align: center;
}

/* ---------- directory page ---------- */
h3 {
    margin-top: 0.635rem;
}

div.cards section {
    padding: 0.635rem;
    margin-top: 0.635rem;
    border: 1px solid black;
    text-align: center;
}

div.cards p {
    padding-top: 0.625rem;
}

div.cards img {
    max-width: 30%;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}