/* ---------- media query for medium view ----------*/
@media only screen and (min-width: 32.5em) {
/* get rid of the hamburger icon when in medium screen */
#hamburgerBtn {
    display: none;
}

/* display side by side when in medium screen instead of block*/
nav ul#navigation {
    display: flex;
    justify-content: flex-start; /* to move right use "flex-end" */
}

nav ul li {
    display: block;
}

} /* end of medium view */