body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

header, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header {
    background-color: navy;
    color: #fff;
    text-align: center; 
    border-radius: 10px;
    box-shadow:0px 0px 15px 5px grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

img {
    max-width: 100%;
    vertical-align: middle;
    box-shadow:0px 0px 10px 3px grey;
}

footer {
    background-color: navy;
    color: #fff;
    text-align: center;
    padding: 16px 0px 16px 0px;
    border-radius: 10px;
    box-shadow:0px 0px 15px 5px grey;
}

.last-updated {
    display: block;
}
